.post{
    &_infos{
        max-width: 80vw;
        margin: auto;
        & h1 {
            text-align: center;
        }
    }
    &_description {
        @include flex-center(flex, row, space-between,unset);
        @media (max-width : $tablette) {
            @include flex-center(flex,column, space-between,center);
        }
    }
    &_image {
        height: auto;
        max-width: 55%;
        @media (max-width : $tablette) {
            max-width: 100%;
            display: flex;
            flex-direction: column;
        }
        & img {
            max-width: 100%;
            height: auto;
        }
    }
    &_field {
        width: 40%;
        @media (max-width : $tablette) {
            width: 100%;
        }
        & h2 {
            color: $green-dark-color;
            @media (max-width : $tablette) {
                text-align: center;
            }
        }
        &-p {
            border-radius: 8px;
            margin: 2rem 0;
            background-color: lightgray;
        }
    }
    &_link {
        display: flex;
        justify-content: space-around;
    }
    &_related {
        @include flex-center(flex,row,space-between,end);
        width: 100%;
        height: 150px;
        position: relative;
        &-left {
            display: block;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            z-index: 10;
            left: 10%;
            top: 0;
            @include transition(all, 500ms);
            & img {
                object-fit: contain;
                max-height: 100%;
            }
        }
        &-right {
            display: block;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            z-index: 10;
            right: 10%;
            top: 0;
            @include transition(all, 500ms);
            & img {
                object-fit: contain;
                max-height: 100%;
            }
        }
        &-previous{
            display: inline-block;
            align-content: end;
            padding-right: $spacing-large;
            & a i {
                font-size: 3em;
            }
            & .arrow_left{
                @include transition();
                &:hover {
                    transform: scale(2);
                }
            }
        } 
        &-next {
            display: inline-block;
            align-content: end;
            & a i {
                font-size: 3em;
            }
            & .arrow_right{
                @include transition();
                &:hover {
                    transform: scale(2);
                }
            }
        }
        &-previous:hover &-left,
        &-next:hover &-right {
            opacity: 1;
            visibility: visible;
        }
    }
}

.toggle{
    &-content {
        transform: scaleY(0);
        transform-origin: top;
        height: 0;
        overflow: hidden;
        padding: 0;
        box-sizing: content-box;
        transition: all 0.5s ease-out;
        &.open {
            padding: 1rem;
            transform: scaleY(1);
        }
    }
    &-title {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $gold-color;
        border-radius: 8px;
        margin: 0;
        padding: 2%;
        & i {
            transition: transform 0.3s ease-out;
        }
        &.open {
            & i {
                transform: rotate(180deg);
            }
            & + .toggle-content {
                height: auto;
            }
        }
    }
}

.btn-link {
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    border: none;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    border-radius: 100px;
    font-weight: 800;
    place-content: center;
    padding: 0.75rem 1rem;
    font-size: 0.825rem;
    line-height: 1rem;
    background-color: $green-light-color;
    color: #fff;
    text-decoration: none;
    &:hover {
      color: $gold-color;
      transform: translate(0, -0.25rem);
      background-color: $green-dark-color;
    }
  }