@font-face {
  font-family: "SpaceMono";
  src: url("fonts/SpaceMono/SpaceMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMono";
  src: url("fonts/SpaceMono/SpaceMono-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMono";
  src: url("fonts/SpaceMono/SpaceMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMono";
  src: url("fonts/SpaceMono/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Light = 300 */
@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
/* Regular */
@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
/* Medium = 500 */
@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
/* Bold */
@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
.header {
  padding: 20px;
  box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.0196078431);
}
.header_menu {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 576px) {
  .header_nav {
    display: none;
  }
}
.header_nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  font-family: "SpaceMono", sans-serif;
  font-style: inherit;
}
@media (min-width: 576px) and (max-width: 768px) {
  .header_nav ul {
    font-size: 12px;
  }
}
.header_nav ul li {
  width: 69px;
  height: 24px;
  white-space: nowrap;
  padding: 0 20px;
}
@media (min-width: 576px) and (max-width: 768px) {
  .header_nav ul li {
    width: auto;
  }
}

.mobile_menu-open {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 15%;
  transition: all 0.3s ease;
}
.mobile_menu-open.visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 999;
}
.mobile_menu-close {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 15%;
  transition: all 0.3s ease;
}
.mobile_menu-close.visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 999;
}
.mobile_nav {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #006648;
  z-index: 998;
  top: -28px;
  transform: translateX(100%);
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: normal;
  font-family: "SpaceMono", sans-serif;
  font-style: inherit;
}
.mobile_nav.open {
  transform: translateX(0);
}
.mobile_nav ul {
  list-style: none;
  padding: 0;
  width: 100%;
  height: 80%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.mobile_nav ul li a {
  color: #cdb789;
}

@media (max-width: 576px) {
  .custom-logo-link {
    position: relative;
    right: 15%;
  }
}

.footer_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer_nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  font-family: "SpaceMono", sans-serif;
  font-style: inherit;
}
@media (max-width: 576px) {
  .footer_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .footer_nav ul {
    font-size: 12px;
  }
}
.footer_nav ul li {
  white-space: nowrap;
  padding: 0 50px;
}
@media (min-width: 576px) and (max-width: 768px) {
  .footer_nav ul li {
    padding: 0 20px;
  }
}

.post_infos {
  max-width: 80vw;
  margin: auto;
}
.post_infos h1 {
  text-align: center;
}
.post_description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: unset;
}
@media (max-width: 768px) {
  .post_description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.post_image {
  height: auto;
  max-width: 55%;
}
@media (max-width: 768px) {
  .post_image {
    max-width: 100%;
    display: flex;
  }
}
@media (max-width: 576px) {
  .post_image {
    flex-direction: column;
  }
}
.post_image img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .post_image img {
    max-width: 50%;
  }
}
@media (max-width: 576px) {
  .post_image img {
    max-width: 100%;
  }
}
.post_field {
  width: 40%;
}
@media (max-width: 768px) {
  .post_field {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .post_field h2 {
    text-align: center;
  }
}
.post_field-p {
  border-radius: 8px;
  margin: 2rem 0;
  background-color: lightgray;
}
.post_link {
  display: flex;
  justify-content: space-around;
}

.toggle-content {
  transform: scaleY(0);
  transform-origin: top;
  height: 0;
  overflow: hidden;
  padding: 0;
  box-sizing: content-box;
  transition: all 0.5s ease-out;
}
.toggle-content.open {
  padding: 1rem;
  transform: scaleY(1);
}
.toggle-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #cdb789;
  border-radius: 8px;
  margin: 0;
  padding: 2%;
}
.toggle-title i {
  transition: transform 0.3s ease-out;
}
.toggle-title.open i {
  transform: rotate(180deg);
}
.toggle-title.open + .toggle-content {
  height: auto;
}

.btn-link {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  border: none;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 100px;
  font-weight: 800;
  place-content: center;
  padding: 0.75rem 1rem;
  font-size: 0.825rem;
  line-height: 1rem;
  background-color: #1d995b;
  color: #fff;
  text-decoration: none;
}
.btn-link:hover {
  color: #cdb789;
  transform: translate(0, -0.25rem);
  background-color: #006648;
}

body {
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
